:root{
    --header: #26292e;
    --topback: #e7718b;
    --middleback: #f4f4f6;
    --botback: white;
    --text: #d9d9da;
    --headerText:'Pacifico', cursive;
    --subtext:'Courgette', cursive;
}
/* general rules */
.icon{
    color: white;
    font-size: 35px;
}
ul{
    list-style-type: none;
}
li{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: white;
}
.inner{
width: 95%;
margin: 0 auto;
padding: 0;
}
.clear{
    clear: both;
}
.text{
    color: grey;
}
/* header */
.header-div{
    background-color: var(--header);
    width: 100%;
    margin-bottom: 0px ;
}
.header-inner{
    display: flex;
    justify-content: space-between;
}
.header{
    color: white;
    margin: 0%;
    font-family: var(--headerText);
    font-size: 35px;
}

.sub-header{
    font-family: var(--subtext);
    /* border: 1px solid red; */
    width: 355px;
}
.media-links{
    list-style-type: none;
    width: 20%;
    height: 10px;
    margin: 20px;
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
}
.media-img{
    margin-left: 10px;
    border: 1px solid purple;
}
/* end of header */
.inner-top{
    display: flex;
    justify-content: space-between;

}
.top-main{
    /* background: var(--topback); */
    background: rgb(231,113,139);
    background: linear-gradient(0deg, rgba(231,113,139,1) 45%, rgba(249,220,255,1) 100%);
    /* border: 1px solid red; */
}
.info{
    /* border: 1px solid green; */
    margin-top: 35px;
    width: 25%;
    height: 375px;
}
.top-subheader{
    margin: 15px;
    color: white;
}
.top-section-list{
    /* border: 1px solid red; */
    padding: 0;

}
.topMain-list-item{
    list-style-type: none;
    display: inline;
}
.top-main-image{
    padding: 0;
    margin: 0;
    margin-right: 25%;
    width: 15%;
    height: 150px;
}
.landing-image{
    margin-bottom: 50px;
    width: 200%;
}
.button{
    margin-top: 25px;
    margin-left: 65px;
    border: 1px solid var(--header);
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(128,128,128,1) 100%);
    color: white;
    font-family: var(--subtext);
}
/* start of middle section */
.middle-main{
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding-left: 10%;
}
/* copy and paste */
.middle-main .icon{
    color: black;
}
/* stop */
.header-with-img1,.header-with-img2,.header-with-img3{
    /* border: 1px solid blue; */
    width: 300px;
    margin: 0;
}
.header-with-img h2, .header-with-img2 h2, .header-with-img3 h2{
    display: inline;
}
.content{
    margin: 0;
    padding: 0;
    margin-left: 25px;
    margin-right: 25px;
    width: 20%;
    height: 350px;
}
.content-list-item{
    width: 300px;
    margin: 0%;
    padding: 0%;
}
.yes{
    width: 100%;
    background-color: var(--topback);
    height: 5px;
}
/* start of bottom main */
.bot-main{
    display: flex;
    justify-content: space-evenly;
}
.img-sub-header{
    color: silver;
    font-family: var(--subtext);
}
.main-bottom-section{
    background: var(--botback);
    padding-top: 25px;
}

.product-img{
    margin: 15px;
    display: inline;
    height: 250px;
    width: 250px;
}
.product-img-container{
    width: 600px;
    height: 700px;
}
.images{
   /* border: 1px solid green; */
    height: 500px;
    width: 650px;
    display: flex;
    flex-wrap: wrap;
}
/* do not copy paste here */
.mgimage{
    width: 275px;
    height: 120px;
    background: black;
    border: 4px solid grey;
    box-shadow: 10px 10px 5px #888888;
    margin: 20px;
}
.icon-search{
    border: 1px solid black;
    color: white;
    font-size: 45px;
    background: black;
    margin-top: 14%;
    margin-left: 40%;
}
/* copy and paste above */
.customer-comments{

    width: 30%;
    height: 700px;
}

.review-list-item{
    margin-top: 70px;
}
.footer-info{
    background-color: var(--header);
    width: 100%;
    height: 150px;
    margin-bottom: 0px ;
}
.inner-footer{
    display: flex;
    justify-content: space-between;
}
.colophon{
    color: white;
    margin: 0%;
    margin-left: 45px;
    padding-top: 55px;
}
.media-footer{
    margin-top: 30px;
    width: 20%;
    height: 75px;
}
.media-footer-links{
    display: flex;
    flex-wrap: wrap;
}
.media-img-bot{
    height: 45px;
    width: 45px;
    margin-top: 10px;
}
/* .sub-header{
    padding: 0;
    margin: 0;
} */
/* .media-footer-links{
    padding-top: 40px;
    width: 200px;
}
.media-links{
    list-style-type: none;
    margin: 0;
} */
/* .media-img{
    display: inline;
    margin-right: 5px;
    padding-top: 45px;
} */
.name{
    color: black;
    font-family: var(--subtext);
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */
