:root{
    --header: #26292e;
    --topback: #e7718b;
    --middleback: #f4f4f6;
    --botback: white;
    --text: #d9d9da;
    --headerText:'Pacifico', cursive;
    --subtext:'Courgette', cursive;
}
/* general rules */
.icon{
    color: white;
    font-size: 35px;
}
ul{
    list-style-type: none;
}
li{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: white;
}
.inner{
width: 95%;
margin: 0 auto;
padding: 0;
}
.clear{
    clear: both;
}
.toptext{
    color: grey;
    font-size:calc(3px + 6 * ((100vw - 320px) / 680));
}
.text{
    color: grey;
}
/* header */
.header-div{
    background-color: var(--header);
    width: 100%;
    margin-bottom: 0px ;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header{
    color: white;
    margin: 0%;
    font-family: var(--headerText);
    font-size: 35px;
    width: 90%;
}

.sub-header{
    font-family: var(--subtext);
    /* border: 1px solid red; */
    width: 355px;
    font-size:calc(12px + 6 * ((100vw - 320px) / 680));
}
.media-links{
    list-style-type: none;
    /* width: 5%; */
    height: auto;
    margin: 20px;
    padding: 0%;
    display: flex;
    justify-content: end;
}
.media-img{
    margin-left: 10px;
    /* border: 1px solid purple; */
}
/* end of header */
.inner-top{
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}
.top-main{
    /* background: var(--topback); */
    background: rgb(231,113,139);
    background: linear-gradient(0deg, rgba(231,113,139,1) 45%, rgba(249,220,255,1) 100%);
    /* border: 1px solid red; */
}
.info{
    /* border: 1px solid green; */
    margin-top: 35px;
    width: 45%;
    height: auto;
    /* border: 1px solid red; */
}
.top-subheader{
    margin: 15px;
    color: white;
}
.top-section-list{
    /* border: 1px solid red; */
    padding: 0;

}
/* .topMain-list-item{
    list-style-type: none;
    display: inline;
} */
.top-main-image{
    /* padding: 20px; */
    margin: 0;
    margin-top: 35px;
    /* margin-right: 25%; */
    /* width: 45%; */
    height: auto;
    /* border: 1px sold blue; */
}
.landing-image{
    /* margin-bottom: 50px; */
    /* border: 1px solid blue; */
    height: 269px;
    /* width: 100%; */
}
.button{
    margin-top: 25px;
    margin-left: 65px;
    border: 1px solid var(--header);
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(128,128,128,1) 100%);
    color: white;
    font-family: var(--subtext);
}
/* start of middle section */
.middle-main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 95%;
}
/* copy and paste */
.middle-main .icon{
    color: black;
}
.headerwithimg{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}
/* stop */
.content-div3{
    margin-left: 55px;
}
.header-with-img1,.header-with-img2,.header-with-img3{
    /* border: 1px solid blue; */
    width: 300px;
    margin: 0;
}
/* .header-with-img h2, .header-with-img2 h2, .header-with-img3 h2{ */
    /* border: 1px solid red; */
    /* display: flex;
    justify-content: space-evenly; */
/* } */
.content-div{
    margin: 0;
    padding: 0;
    /* margin-left: 25px; */
    /* margin-right: 25px; */
    width: 20%;
}
.content-list-item{
    width: 300px;
    margin: 0%;
    padding: 0%;
}
.yes{
    width: 100%;
    background-color: var(--topback);
    height: 5px;
}
/* start of bottom main */
.bot-main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.img-sub-header{
    color: silver;
    font-family: var(--subtext);
}
.main-bottom-section{
    background: var(--botback);
    padding-top: 25px;
}

.product-img{
    margin: 15px;
    display: inline;
    height: 250px;
    width: 250px;
}
.product-img-container{
    width: 600px;
    height: 700px;
}
.images{
   /* border: 1px solid green;d */
    height: 500px;
    width: 650px;
    display: flex;
    flex-wrap: wrap;
}
/* do not copy paste here */
.mgimage{
    width: 275px;
    height: 120px;
    background: black;
    border: 4px solid grey;
    box-shadow: 10px 10px 5px #888888;
    margin: 20px;
}
.icon-search{
    border: 1px solid black;
    color: white;
    font-size: 45px;
    background: black;
    margin-top: 14%;
    margin-left: 40%;
}
/* copy and paste above */
.customer-comments{
    /* display: flex;
    flex-wrap: wrap; */
    width: 30%;
    height: 700px;
}
.review-list{
    margin: 0%;
    padding: 0%;
}
.review-list-item{
    margin-top: 70px;
}
.footer-info{
    background-color: var(--header);
    width: 100%;
    height: 275px;
    margin-bottom: 0px ;
}
.inner-footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.colophon{
    color: white;
    margin: 0%;
    margin-left: 45px;
    padding-top: 55px;
}
.media-footer{
    margin-top: 30px;
    width: 20%;
    height: 150px;
}
.media-footer-links{
    display: flex;
    flex-wrap: wrap;
}
.media-img-bot{
    height: 45px;
    width: 45px;
    margin-top: 10px;
}
/* .sub-header{
    padding: 0;
    margin: 0;
} */
/* .media-footer-links{
    padding-top: 40px;
    width: 200px;
}
.media-links{
    list-style-type: none;
    margin: 0;
} */
/* .media-img{
    display: inline;
    margin-right: 5px;
    padding-top: 45px;
} */
.name{
    color: black;
    font-family: var(--subtext);
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */
  

  /* Small screen */
@media  (min-width:319px) and (max-width:574px){
    .headerwithimg{
        width: 150px;
    }
}
@media  (min-width:319px) and (max-width:574px) {
    .review-list-item{
        width: 200px;
        margin: 0px;
    }
}
@media  (min-width:319px) and (max-width:574px)   {
    .header-inner{ 
        width: 150px;}
}
    
@media (min-width:319px) and (max-width:574px)   {
    .info{
        width: 150px;
    }
}
    @media  (min-width: 319px) and (max-width:574px){
        .content-div{
            width: 300px;
        }
    }
    @media (min-width:319px) and (max-width:574px) {
        .content-list-item .text{
            width: 175px;
            font-size: 9px;
        }
    }
    @media (min-width:319px) and (max-width:574px) {
        .content-list-item{
            width: 250px;
        }
    @media  (min-width:319px) and (max-width:574px){
        .images{
            width: 200px;
        }
    }
    @media  (min-width:319px) and (max-width:574px){
        .review-list{
        width: 200px;
        }
    }
    @media  (min-width: 319px) and (max-width:574px){
        .review-list .text{
        font-size: 8px;
        width: 200px;
        margin:0px;
    }
    }
    @media  (min-width: 319px) and (max-width:574px){
        .colophon{
        width: 200px;
    }
}
    @media  (min-width:319px) and (max-width:574px){
    .media-footer-links{
    width: 250px;
    margin: 0px;
    padding-left: 0px;
}
}
@media (min-width:319px) and (max-width:574px) {
    .img-sub-header{
        width: 100px;
    }
}
@media (min-width:319px) and (max-width:574px) {
    .sub-header{
        width: 100px;
    }
}
@media (min-width:319px) and (max-width:574px) {
    .landing-image{
    height: auto;
}
}
    @media (min-width:319px) and (max-width:574px) {
        .product-img-container{
            width: 225px;
        }
    }
    @media (min-width:319px) and (max-width:574px) {
        .media-footer-links{
            width: 100px;
        }
    }
    @media (min-width:319px) and (max-width:574px) {
        .comment-sub-header{
            width: 75px;
        }
    }
    @media (min-width:319px) and (max-width:574px) {
        .name{
            width: 75px;
        }
    }








    /* mid */
@media  (min-width:575px) and (max-width:719px)  {
    .header-inner{ 
        width: 350px;}
}
@media (min-width:575px) and (max-width:719px) {
    .content-list-item .text{
        width: 345px;
        font-size: 16px;
    }
}
@media (min-width:575px) and (max-width:719px)   {
    .info {
        width: 350px;
    }
}
    @media  (min-width: 575px) and (max-width:719px){
        .content-div{
            width: 350px;
        }
    }
    @media  (min-width:575px) and (max-width:719px){
        .images{
            width: 350px;
        }
    }
    @media  (min-width:575px) and (max-width:719px){
        .review-list{
            width: 150px;
            font-size: 8px;
        }
    }
    @media  (min-width: 575px) and (max-width:719px) {
        .review-list-item .text{
            font-size: 9px;
            width: 180px;
        }
    }
    @media  (min-width: 575px) and (max-width:719px){
        .colophon{
            width: 350px;
        }
    }
    @media (min-width:575px) and (max-width:719px) {
        .media-footer-links{
            width: 80px;
            margin-left: 0%;
            
        }
    }
    @media (min-width:575px) and (max-width:719px) {
        .product-img-container{
            width: 300px;
        }
    }
    @media (min-width:575px) and (max-width:719px) {
        .comment-sub-header{
            width: 120px;
        }
    }
    @media (min-width:575px) and (max-width:719px) {
        .footer-info{
            margin-top: 15px ;
        }
    }

    /* stop mark */

    /* Small */
/* 

@media  (max-width:719px)   {
    .header-inner{ 
        width: 550px;}
}
    
@media (max-width:719px) {
    .info{
        width: 500px;
}
}
    @media  (max-width: 719px){
        .content-div{
            width: 550px;
        }
    }
    @media (max-width:719px) {
        .content-list-item{
            font-size: 10px;
            width: 200px;
        }
    }
    @media  (max-width:719px){
        .images{
            width: 550px;
        }
    }
    @media  (max-width:719px){
        .review-list{
            width: 550px;
        }
    }
    @media  (max-width: 719px){
        .review-list-item .text{
            font-size: 12px;
            width: 400px;
        }
    }
    @media  (max-width: 719px){
        .colophon{
            width: 550px;
        }
    }
    @media  (max-width:719px){
        .media-footer-links{
            width: 550px;
        }
    }
    @media (max-width:719px) {
        .landing-image{
            height: auto;
            
        }
    }
    @media  (max-width: 719px) {
        .top-main-image{
            margin-left: 25%;
        }
    }
    @media (max-width: 719px) {
        .button{
            margin-left: 16%;
        }
    }
    @media (max-width: 719px) {
        .headerwithimg{
            margin-left: 45%;
        }
    }
    @media (max-width:719px) {
        .content-div3{
            margin-left: 6%;
        }
    }
    @media (max-width:719px) {
        .product-img-container{
            margin-left: 30%;
        }
    }
    @media (max-width:719px) {
        .img-sub-header{
            text-align: center;
        }
    }
    @media (max-width:719px) {
        .media-footer-links{
            width: 400px;
            margin-left: 65%;
            display: flex;
            justify-content: space-between;
        }
    }
    @media (max-width:719px) {
        .media-img{
            width: 150px;
            text-align: center;
        }
    }
    @media (max-width:719px) {
        .header{
            text-align: center;
        }
    }
    @media (max-width:719px) {
        .colophon{
            text-align: center;
        }
    } */
    /* @media (min-width:574px) and (min-width:301) {
        .{

        }
    } */