:root{
    --header: #26292e;
    --topback: #e7718b;
    --middleback: #f4f4f6;
    --botback: white;
    --text: #d9d9da;
    --headerText:'Pacifico', cursive;
    --subtext:'Courgette', cursive;
}
/* general rules */
.icon{
    color: white;
    font-size: 45px;
}
ul{
    list-style-type: none;
}
li{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: white;
}
.inner{
width: 1660px;
margin: 0 auto;
padding: 0;
}
.clear{
    clear: both;
}
.text{
    color: var(--text);
}
/* header */
.header-div{
    background-color: var(--header);
    width: 100%;
    height: 150px;
    margin-bottom: 0px ;

}
.header{
    color: white;
    margin: 0%;
    margin-left: 45px;
    padding-top: 40px;
    float: left;
    font-family: var(--headerText);
    font-size: 35px;
}
.sub-header{
    margin-top: 25px;
    margin-left: 25px;
    padding-top: 50px;
    font-family: var(--subtext);
    /* border: 1px solid red; */
    width: 355px;
}
.media-links{
    list-style-type: none;
    margin: 0;
}
.media-img{
    display: inline;
    margin-right: 5%;
    padding-top: 55px;
    float: right;
}

.top-main{
    padding-top: 35px;
    /* background: var(--topback); */
    background: rgb(231,113,139);
    background: linear-gradient(0deg, rgba(231,113,139,1) 45%, rgba(249,220,255,1) 100%);
    width: 100%;
    height: 400px;
}
.top-subheader{
    padding-top: 65px;
    margin: 15px;
    color: white;
}
.top-section-list{
    /* border: 1px solid red; */
    width: 25%;
    padding: 0;
    float:left;
}
.topMain-list-item{
    list-style-type: none;
    display: inline;
}
.top-main-image{
    padding: 0;
    margin: 0;
    margin-top: 25px;
    margin-right: 25%;
    width: 15%;
    height: 150px;
    float: right;
    /* border: 1px solid ; */
}
.landing-image{
    margin-bottom: 50px;
    width: 170%;
}
.button{
    margin-top: 25px;
    margin-left: 65px;
    border: 1px solid var(--header);
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(128,128,128,1) 100%);
    color: white;
    font-family: var(--subtext);
}
.header-with-img{
    /* border: 1px solid blue; */
    width: 300px;
    height: 450px;
    padding-top: 25px;
    margin: 0;
}
.header-with-img h2{
    display: inline;
}
.content{
    /* border: 1px solid purple; */
    margin: 0;
    padding: 0;
    margin-left: 6%;
    width: 25%;
    float: left;
}

.yes{
    width: 100%;
    background-color: var(--topback);
    height: 5px;
}
/* start of bottom main */
.main-bottom-section .sub-header{
    color: silver;
}
.main-bottom-section{
    background: var(--botback);
    padding-top: 25px;
}
.bot-main h2{
    padding-left: 125px;
}

.product-img-container{
    /* border: 5px solid red; */
    height: 700px;
    width: 800px;
    display: inline-block;
    margin-left: 125px;
}
.product-img{
    float: left;
    margin: 50px;
    display: inline;
}
.customer-comments{
    /* border: 1px solid red; */
    width: 30%;
    float: right;
    height: 700px;
    margin-right: 125px;
}
/* .customer-comments h2{
    font-family: ;
} */

.review-list-item{
    margin-top: 70px;
}
.footer-info{
    background-color: var(--header);
    width: 100%;
    height: 150px;
    margin-bottom: 0px ;
}
.colophon{
    color: white;
    margin: 0%;
    margin-left: 45px;
    padding-top: 55px;
    float: left;
}
.sub-header{
    margin-left: 25px;
    padding: 0;
    margin: 0;
}
.media-links{
    list-style-type: none;
    margin: 0;
}
.media-img{
    display: inline;
    margin-right: 5%;
    padding-top: 45px;
    float: right;
}
.name{
    color: black;
    font-family: var(--subtext);
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
footer .icon{
    padding-top: 55px;
    margin-right: 5%;
    display: inline;
    float: right;
}
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */

.mgimage{
    width: 275px;
    height: 120px;
    background: black;
    border: 4px solid grey;
    box-shadow: 10px 10px 5px #888888;
    margin: 20px;
    margin-top: 75px;
    float: left;
}
.icon-search{
    border: 1px solid black;
    color: white;
    font-size: 45px;
    background: black;
    margin-top: 14%;
    margin-left: 40%;
}
.middle-main .icon{
    color: black;
}