:root{
    --header: #26292e;
    --topback: #e7718b;
    --middleback: #f4f4f6;
    --botback: white;
    --text: #d9d9da;
    --headerText:'Pacifico', cursive;
    --subtext:'Courgette', cursive;
}
/* general rules */
.icon{
    color: white;
    font-size: 45px;
}
ul{
    list-style-type: none;
}
li{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: white;
}
.inner{
width: 1660px;
margin: 0 auto;
padding: 0;
}
.clear{
    clear: both;
}
.text{
    color: var(--text);
}
/* header */
.header-div{
    background-color: var(--header);
    width: 100%;
    height: 150px;
    margin-bottom: 0px ;
    position: relative;
}
.header{
    color: white;
    margin: 0%;
    font-family: var(--headerText);
    font-size: 35px;
    position: absolute;
    left: 5%;
    top: 25%;
}
.sub-header{
    /* margin-top: 25px; */
    /* margin-left: 25px; */
    /* padding-top: 50px; */
    font-family: var(--subtext);
    /* border: 1px solid red; */
    width: 355px;
}
.media-links{
    list-style-type: none;
    margin: 0;
}
.media-img{
    display: inline;
    margin-right: 5%;
    padding-top: 45px;
}
.media-img:nth-child(1){
    position: absolute;
    right: 0;
}
.media-img:nth-child(2){
    position:absolute;
    right: 5%;
}
.media-img:nth-child(3){
    position: absolute;
    right: 10%;
}


.top-main{
    padding-top: 35px;
    /* background: var(--topback); */
    background: rgb(231,113,139);
    background: linear-gradient(0deg, rgba(231,113,139,1) 45%, rgba(249,220,255,1) 100%);
    width: 100%;
    height: 400px;
    position: relative;
}
.top-subheader{
    margin: 15px;
    color: white;
    position: absolute;
    left: 5%;
    top: 10%;
}
.top-section-list{
    /* border: 1px solid red; */
    width: 25%;
    padding: 0;
    position: absolute;
    left: 5%;
    top: 15%;
}
.topMain-list-item{
    list-style-type: none;
    display: inline;
}
.top-main-image{
    padding: 0;
    margin: 0;
    width: 15%;
    height: 150px;
    /* border: 1px solid ; */
    position: absolute;
    right: 30%;
    top: 10%;
}
.landing-image{
    margin-bottom: 50px;
    width: 200%;
}
.button{
    margin-top: 25px;
    margin-left: 65px;
    border: 1px solid var(--header);
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(128,128,128,1) 100%);
    color: white;
    font-family: var(--subtext);
}
.section-middle{
    position: relative;
    height: 400px;
}
.content:nth-child(1){
    position: absolute;
    left: 10%;
    top: 10%;
}
.content:nth-child(2){
    position: absolute;
    left: 35%;
    top: 10%;
}
.content:nth-child(3){
    position: absolute;
    left: 65%;
    top: 10%;
}
.header-with-img1,.header-with-img2,.header-with-img3{
    /* border: 1px solid blue; */
    width: 300px;

    margin: 0;
}
.header-with-img h2, .header-with-img2 h2, .header-with-img3 h2{
    display: inline;
}
.content{
    /* border: 1px solid purple; */
    margin: 0;
    padding: 0;
    width: 20%;
    height: 350px;
}
.yes{
    width: 100%;
    background-color: var(--topback);
    height: 5px;
}
/* start of bottom main */
.bot-main{
    /* border: 10px solid blue; */
    position: relative;
    height: 800px;
}
.img-sub-header{
    color: silver;
    position: absolute;
    left: 10%;
    top: 3%;
    font-family: var(--subtext);
}
.main-bottom-section{
    background: var(--botback);
    padding-top: 25px;
}
/* .bot-main h2{
    padding-left: 125px;
} */
.product-img{
    /* margin: 50px; */
    display: inline;
    box-shadow: 10px 10px 5px #888888;
    border: 4px solid;
    border-style: outset;
}
.product-img-container{
    /* border: 5px solid red; */
    height: 700px;
    width: 750px;
    display: inline-block;
    position: absolute;
    left: 10%;
    top: 10%;
}
.images{
    margin: 5px;
    position: relative;
    /* border: 1px solid green; */
    height: 680px;
}
.product-images:nth-child(1){
    position: absolute;
    top: 15%;
    left: 5%;
}
.product-images:nth-child(2){
    position: absolute;
    top: 15%;
    right: 5%;
}
.product-images:nth-child(3){
    position: absolute;
    bottom: 15%;
    left: 5%;
}
.product-images:nth-child(4){
    position: absolute;
    bottom: 15%;
    right: 5%;
}
.customer-comments{
    /* border: 1px solid red; */
    width: 30%;
    height: 700px;
    position: absolute;
    right: 10%;
    top: 10%;
}
.comment-sub-header{
    position: absolute;
    top: 0%;
    right: 15%;
}
.yes{
    width: 100%;
    background-color: var(--topback);
    height: 5px;
}
/* .customer-comments h2{
    font-family: ;
} */

.review-list-item{
    margin-top: 70px;
}
.footer-info{
    background-color: var(--header);
    width: 100%;
    height: 150px;
    margin-bottom: 0px ;
    position: relative;
}
.colophon{
    color: white;
    margin: 0%;
    margin-left: 45px;
    padding-top: 55px;
    position: absolute;
    top: 0%;
    left: 0%;
}
/* .sub-header{
    padding: 0;
    margin: 0;
} */
.media-footer-links{
    /* border: 1px solid red; */
    position: relative;
    height: 150px;
}
.media-img-bot:nth-child(1){
    position: absolute;
    right: 0%;
    top: 40%;
}
.media-img-bot:nth-child(2){
    position: absolute;
    top: 40%;
    right: 5%;
}
.media-img-bot:nth-child(3){
    position: absolute;
    right: 10%;
    top: 40%;
}
.media-links{
    list-style-type: none;
    margin: 0;
}
.media-img{
    display: inline;
    margin-right: 5%;
    padding-top: 45px;
}
.name{
    color: black;
    font-family: var(--subtext);
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */

  .mgimage{
    width: 275px;
    height: 120px;
    background: black;
    border: 4px solid grey;
    box-shadow: 10px 10px 5px #888888;
    margin: 20px;
}
.icon-search{
    border: 1px solid black;
    color: white;
    font-size: 45px;
    background: black;
    margin-top: 14%;
    margin-left: 40%;
}
.middle-main .icon{
    color: black;
}